<h1> This is a Student Form for Characters in the Game of Thrones </h2>

  <%= form_tag students_path do %>
  <p>First Name:  <input type="text" name="first_name"></p>
  <p>Last Name:  <input type="text" name="last_name"></p>
  <%= submit_tag "Submit Student" %>
  <% end %>
